/*
Theme Name: PlasterdogCustomizer
Theme URI: https://plasterdog.com/the-plasterdog-customizer-theme/
Author: jeff mcnear
Author URI: https://plasterdog.com
Description: Custom theme using underscores as a jumping off point. Gives significant control of color scheme via the customizer - header text color - background color - regular link color - regular link hover color - navigation link color - navigation link hover color - social media link color - social media link hover color - headings (h1-h6) color - body text color - header area background color - footer area background color - footer text color - border color. Header logo is also set via the customizer, as well as a default background color.  All pages and individual posts can be set to have a full background image - page templates for full width, split page, archive page, and main landing page. Social media links and other contact information is set via => settings => global custom fields.This theme will work best using the classic editor and with advanced custom fields as an active plugin.
Tags: custom-colors, custom-menu, custom-logo, featured-images
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: plasterdogcustomizer
Version: 1.85
*/
/*-- actually yellow */
/*---------- down and dirty reset ----*/
*, *:after, *:before {
  margin: 0px;
  padding: 0;
  box-sizing: inherit;
  /*--- inherited from body ---*/ }

html {
  font-size: 62.5%;
  /*--- defines rems on site ---*/ }

body {
  box-sizing: border-box;
  /*--- eliminates borders ---*/ }

/*--- ends reset--*/
/*-----------Forms----------------------*/
button, input, select, textarea {
  font-size: 100%;
  /* Corrects font size not being inherited in all browsers */
  margin: 0;
  /* Addresses margins set differently in IE6/7,F3/4,S5,Chrome */
  vertical-align: baseline;
  /* Improves appearance and consistency in all browsers */
  *vertical-align: middle;
  /* Improves appearance and consistency in IE6/IE7 */ }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  border-radius: 3px;
  background: #1349ad;
  cursor: pointer;
  /* Improves usability and consistency of cursor style between image-type 'input' and others */
  -webkit-appearance: button;
  /* Corrects inability to style clickable 'input' types in iOS */
  font-size: 12px;
  font-size: 1.2em;
  line-height: 1;
  padding: .6em 1em .4em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  margin-top: .5em; }

button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, button:active, input[type="button"]:active, input[type="reset"]:active,
input[type="submit"]:active {
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15); }

input[type="checkbox"], input[type="radio"] {
  padding: 0;
  /* Addresses excess padding in IE8/9 */ }

input[type="search"] {
  -webkit-appearance: textfield;
  /* Addresses appearance set to searchfield in S5,Chrome */
  -webkit-box-sizing: content-box;
  /* Addresses box sizing set to border-box in S5,Chrome (include -moz to future-proof) */
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  font-size: 1.5em; }

input[type="search"]::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5,Chrome on OSX */
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0; }

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], textarea {
  border-radius: 3px; }

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"] {
  padding: 3px; }

textarea {
  overflow: auto;
  /* Removes default vertical scrollbar in IE6/7/8/9 */
  padding-left: 3px;
  vertical-align: top;
  /* Improves readability and alignment in all browsers */
  width: 98%; }

/*------Typography OVER RIDES---------------------------*/
body, button, input, select, textarea {
  font-family: Arial, Tahoma, Verdana; }

h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-family: Arial, Tahoma, Verdana; }

h1 {
  color: #322215; }

p {
  margin-bottom: 1em; }

blockquote {
  margin: 0 1.5em; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #ffffff;
  font-family: "Courier 10 Pitch", Courier, monospace; }

code, kbd, tt, var {
  font: 15px "Courier 10 Pitch", Courier, monospace; }

mark, ins {
  background: #ffffff; }

aside, blockquote {
  border: 1px solid #000000; }

/*-------Elements OVER RIDES--------------------*/
hr {
  background-color: #322215; }

.clear hr {
  background-color: #322215; }

ul, ol {
  margin: 1em 0 1em 2em; }

/*-- for sidebar--*/
#secondary h1.widget-title {
  background-color: transparent;
  border-bottom: solid 1px #322215;
  font-size: 1.4em;
  font-weight: bold;
  font-family: Arial, Tahoma, Verdana; }

#secondary h1.entry-title {
  font-size: 1.25em;
  line-height: 1.15em;
  margin-bottom: .25em; }

/*--header region --*/
.site-branding h1.site-title {
  font-size: 1.5em;
  display: inline-block;
  /*text-transform:uppercase;*/
  font-family: Arial, Tahoma, Verdana;
  margin: .25em 0 0 0;
  font-weight: normal; }

.site-branding h1.site-title a {
  text-decoration: none;
  font-weight: normal;
  color: #ffffff; }

.site-branding h2.mastehead-info {
  font-size: 1em;
  display: inline-block;
  font-style: italic;
  margin-left: .5em;
  font-family: Arial, Tahoma, Verdana;
  color: #001f30; }

h2.masthead-info {
  color: #ffffff;
  margin-left: 0;
  font-family: Arial, Tahoma, Verdana;
  font-size: .85em;
  margin-top: .5em;
  letter-spacing: .05em; }

/*--- for landing page & landing page sidebar---*/
.front-book-array a {
  text-decoration: none; }

.page-template-landing-page #secondary li {
  padding-bottom: 1em; }

.page-template-landing-page #secondary h2 {
  margin: 0 0 1em 0; }

.page-template-landing-page #secondary h2 a {
  color: #322215; }

.page-template-landing-page #secondary h3 {
  font-weight: normal; }

.page-template-landing-page #secondary .left_picture {
  float: left;
  width: 25%; }

.page-template-landing-page #secondary .right_text {
  float: right;
  width: 70%; }

.page-template-landing-page #secondary .left_text h3 {
  font-weight: normal;
  font-size: .5em; }

.page-template-landing-page #secondary li a:hover {
  color: inherit;
  width: 100%;
  display: block;
  background-color: inherit;
  margin-left: 0;
  padding-left: 0; }

.page-template-landing-page #secondary li a {
  font-weight: normal;
  text-decoration: none; }

.page-template-feed-page #secondary .left_picture {
  float: left;
  width: 25%; }

.page-template-feed-page #secondary .right_text {
  float: right;
  width: 70%; }

.page-template-feed-page #secondary .left_text h3 {
  font-weight: normal;
  font-size: .5em; }

.page-template-feed-page #secondary li a:hover {
  color: inherit;
  width: 100%;
  display: block;
  background-color: inherit;
  margin-left: 0;
  padding-left: 0; }

/*------------------- Menus-----------------------------*/
.main-navigation {
  clear: both;
  display: block;
  float: right;
  width: 100%;
  height: 3em;
  position: absolute;
  top: 7em; }

.main-navigation ul {
  list-style: none;
  padding-left: 0;
  text-align: center;
  margin: 0; }

.main-navigation li {
  position: relative;
  margin-right: .05em;
  font-size: 1em;
  display: inline-block;
  padding: .5em 1.5em;
  background: transparent;
  color: #000000;
  -webkit-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0; }

.main-navigation li:last-child {
  position: relative;
  margin-right: 0;
  font-size: 1em;
  margin-bottom: .25em;
  display: inline-block;
  padding: .5em 1.5em; }

.main-navigation li:hover {
  background: transparent; }

.main-navigation li:hover a {
  color: #001f30;
  text-decoration: underline; }

.main-navigation a {
  display: block;
  text-decoration: none;
  font-weight: normal;
  color: #000000; }

.main-navigation a:hover {
  color: #001f30; }

.main-navigation li.current-menu-item a {
  background: transparent; }

.main-navigation .current-menu-item {
  color: #001f30;
  background: transparent; }

.main-navigation ul ul {
  margin-left: 0;
  display: block;
  float: left;
  position: absolute;
  top: 2.30em;
  left: 1em;
  z-index: 99999;
  text-align: left;
  visibility: collapse;
  opacity: .001;
  transition: all .5s ease-in-out 0s;
  background: #ffffff;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000; }

.main-navigation ul ul li {
  background: #ffffff;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #000000; }

.main-navigation ul ul li a:hover {
  text-decoration: underline; }

.main-navigation ul ul ul {
  left: 100%;
  top: 0; }

.main-navigation ul ul a {
  width: 250px;
  color: #000000; }

.main-navigation ul li:hover > ul {
  display: block;
  opacity: 1;
  visibility: visible;
  transition: all 0.25s ease 0s;
  width: 250px;
  overflow: hidden; }

.main-navigation ul li:hover > ul li a {
  color: #000000; }

.site-main .comment-navigation, .site-main .paging-navigation, .site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden; }

.comment-navigation .nav-previous, .paging-navigation .nav-previous, .post-navigation .nav-previous {
  float: left;
  width: 50%; }

.comment-navigation .nav-next, .paging-navigation .nav-next, .post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%; }

@media (max-width: 1200px) {
  .main-navigation ul {
    list-style: none;
    padding-left: 0;
    text-align: center;
    margin-top: .0; }

  .main-navigation a {
    font-size: 1.25em;
    color: #000000;
    background: transparent; }

  .main-navigation li {
    position: relative;
    margin-right: .05em;
    font-size: .75em;
    display: inline-block;
    padding: .5em .5em;
    background: transparent;
    color: #000000;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0; }

  .main-navigation li:last-child {
    position: relative;
    margin-right: 0;
    font-size: .75em;
    margin-bottom: .25em;
    display: inline-block;
    padding: .5em .5em; } }
@media (max-width: 1000px) {
  .main-navigation ul {
    margin-top: 3em; }

  .main-navigation ul ul {
    top: 0; } }
@media (max-width: 825px) {
  .main-navigation {
    margin-top: 0em; }

  .main-navigation ul {
    list-style: none;
    padding-left: 0;
    text-align: center; }

  .main-navigation li, .main-navigation li:last-child {
    font-size: .7em; } }
@media screen and (max-width: 725px) {
  .main-navigation ul {
    margin-top: 0em; }

  .main-navigation a {
    color: #000000 !important; }

  h1.menu-toggle {
    color: #1349ad;
    font-size: 1.25em;
    padding: 1em 0;
    line-height: 1.5em;
    top: 10px;
    font-weight: normal;
    font-family: Arial, Tahoma, Verdana;
    position: absolute;
    left: -.5em; }

  h1.menu-toggle:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f055";
    padding-right: .5em; }

  .menu-toggle, .main-navigation.toggled .nav-menu {
    display: block; }

  .toggled h1.menu-toggle:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f056"; }

  .main-navigation {
    height: auto; }

  .main-navigation .current-menu-item {
    background: transparent; }

  .main-navigation li.current-menu-item a {
    background: transparent; }

  .main-navigation ul {
    display: none;
    margin-left: 1em;
    background: transparent;
    width: 90%;
    margin-top: 0; }

  .main-navigation li, .main-navigation li:last-child {
    float: none;
    width: 100%;
    text-align: left;
    background: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-size: 1.25em; }

  .main-navigation a {
    display: block;
    text-decoration: none;
    font-weight: normal;
    color: #1349ad;
    background: transparent; }

  .main-navigation ul li:hover > ul, .main-navigation li:hover > ul a {
    visibility: visible;
    color: #000000;
    width: auto; }

  .main-navigation li, .main-navigation li:last-child {
    float: none;
    width: 100%;
    text-align: left;
    background: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-size: .85em; }

  .main-navigation li:hover, .main-navigation li:last-child:hover, .main-navigation ul ul li:hover > a, .main-navigation ul ul li:last-child:hover > a {
    background: inherit;
    color: #000000; }

  .main-navigation ul ul li:hover, .main-navigation ul ul li:last-child:hover, .main-navigation li:hover > a, .main-navigation li:last-child:hover > a {
    background: inherit;
    color: #000000; }

  .main-navigation li a:hover, .main-navigation li:last-child a:hover {
    text-decoration: underline; }

  .menu-main-menu-container {
    background: rgba(255, 255, 255, 0.85);
    position: absolute;
    top: 4em;
    left: -.5em;
    width: 90%;
    -webkit-border-radius: 0 0 25px 25px;
    border-radius: 0 0 25px 25px; }

  .main-navigation ul ul {
    margin-left: 0;
    display: block;
    float: left;
    position: relative;
    top: 0;
    left: 1em;
    z-index: 99999;
    text-align: left;
    visibility: visible;
    opacity: 1;
    -webkit-transition: all .5s ease-in-out 0s;
    transition: all .5s ease-in-out 0s;
    background: #ffffff;
    border: none;
    width: 80%; }

  .main-navigation ul ul li {
    background: #ffffff;
    border-radius: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px; }

  .menu-main-container {
    top: 75px;
    left: 0;
    position: absolute;
    width: 80%; }

  .main-navigation ul ul a, .main-navigation ul ul a:hover {
    width: auto; } }
/*-----------Forms----------------------*/
button, input[type="button"], input[type="reset"], input[type="submit"] {
  border: 1px solid #ffffff;
  border-radius: 3px;
  background: #1349ad;
  color: #ffffff; }

button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
  border-color: #cccccc #cccccc #cccccc #cccccc;
  background: #ffffff;
  color: #322215; }

button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, button:active, input[type="button"]:active, input[type="reset"]:active,
input[type="submit"]:active {
  border-color: #cccccc #cccccc #cccccc #cccccc; }

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], textarea {
  color: #666;
  border: 1px solid #322215; }

input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, textarea:focus {
  color: #111; }

/*-- footer region  --*/
.footer-section {
  float: left;
  width: 33%; }

.site-footer, .site-info {
  clear: both; }

.site-info {
  text-align: right; }

.site-info p {
  font-size: .75em;
  margin: 1em 2em; }

#foot-constraint {
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0 1%; }

#colophon.site-footer {
  border-top: solid 1px #ffffff; }

#colophon.site-footer a {
  color: #ffffff;
  text-decoration: underline; }

#colophon.site-footer a:hover {
  color: #ffffff;
  text-decoration: underline; }

#colophon.site-footer h4.widgettitle, #colophon.site-footer h1.widget-title, #colophon.site-footer h1 {
  color: #ffffff;
  font-weight: normal;
  font-size: 1.1em;
  margin-right: 1em; }

/*--header region --*/
#full-top {
  border-bottom: solid 2px #fadb27;
  width: 100%;
  position: fixed;
  z-index: 999;
  /*background-color:$darkBrownColor; background-image:url(./images/mesaland.jpg);  background-repeat:no-repeat;  background-position:center top; */ }

#upper-band {
  width: 100%;
  z-index: 1;
  height: 155px;
  overflow-y: hidden; }

#upper-band img {
  width: 100%;
  min-height: 100%; }

.masthead-holder {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  top: 0;
  background: transparent;
  padding: 0 2em;
  /*height:200px;*/ }

#masthead {
  max-width: 1200px;
  background-color: transparent;
  padding-top: .25em;
  /*top:2em;*/
  color: #000000;
  position: absolute;
  z-index: 999; }

#masthead .site-branding {
  margin: 0; }

.site-header {
  width: 100%;
  z-index: 999;
  color: #000; }

#left-head {
  float: left;
  margin-top: 1.25em; }

#left-head-1 {
  float: left;
  width: 250px; }

#left-head-2 {
  float: left;
  margin-left: 0; }

#right-head {
  float: right; }

#right-head .social .icon-text {
  font-size: 1.25em;
  margin-right: .5em;
  font-family: Arial, Tahoma, Verdana;
  display: block;
  line-height: 1.5em; }

ul.top-social-icons {
  padding: .75em 0 0 0;
  margin: 0;
  float: right; }

#right-head .top-social-icons li {
  list-style: none;
  float: left;
  margin-right: 1.5em;
  font-size: 1.5em; }

#right-head .social {
  float: right;
  width: 100%; }

#right-head .social a {
  color: #ffffff; }

#right-head .social a:hover {
  color: #00649c;
  text-decoration: none; }

@media (max-width: 1300px) {
  #right-head {
    float: left;
    padding-left: 2em; } }
@media (max-width: 1000px) {
  #right-head {
    float: left;
    padding-left: 2em;
    width: calc(100% - 300px); }

  ul.top-social-icons {
    float: left; }

  #upper-band {
    width: 100%;
    z-index: 1;
    height: 180px;
    overflow-y: hidden; }

  h2.masthead-info {
    font-size: 1em;
    margin-top: 0; } }
@media (max-width: 900px) {
  .site-branding h1.site-title, h2.masthead-info {
    display: inline; } }
@media (max-width: 825px) {
  #left-head {
    float: left;
    margin-top: 0; }

  #upper-band {
    height: 180px; }

  .site-branding h1.site-title {
    font-size: 1.25em; }

  h2.masthead-info {
    font-size: 1em;
    padding-right: 2em; } }
@media screen and (max-width: 725px) {
  #left-head-1 {
    float: left;
    width: 25%; }

  #left-head {
    float: left;
    width: calc(75% - 10px); }

  #right-head {
    width: calc(75% - 10px);
    padding-left: .5em; }

  #right-head .social {
    margin-left: .5em; }

  #right-head .social .icon-text {
    display: block; }

  .site-branding h1.site-title {
    font-size: 1.25em;
    display: block; }

  h2.masthead-info {
    margin-left: .5em;
    font-size: 1em; }

  #right-head .top-social-icons li {
    margin-right: 1em; }

  ul.top-social-icons {
    float: left; } }
@media (max-width: 625px) {
  #left-head-1 {
    float: left;
    width: 150px; }

  #left-head {
    float: left;
    width: calc(100% - 160px); }

  #right-head {
    width: calc(100% - 160px); } }
@media (max-width: 500px) {
  h2.masthead-info {
    margin-left: .5em;
    font-size: 1em;
    visibility: collapse;
    font-size: 0; }

  #right-head {
    margin-top: -1em; } }
@media (max-width: 450px) {
  .site-branding h1.site-title {
    font-size: 1.5em; }

  #left-head-1 {
    float: left;
    width: 0; } }
@media (max-width: 400px) {
  .masthead-holder {
    padding: 0 .5em; }

  #left-head {
    width: 100%; }

  ul.top-social-icons {
    /*visibility: collapse;height: 0;*/ }

  #right-head {
    width: 100%; }

  #left-head-1 {
    float: left;
    width: 0; }

  h2.masthead-info {
    visibility: collapse;
    height: 0; }

  #upper-band {
    height: 180px; } }
/*---------------- HOME PAGE THREE FOCUS ITEMS ---------------------------------------------*/
.clear.focus-group {
  padding-bottom: 1em;
  border-top: solid 1px #fadb27;
  border-bottom: solid 1px #fadb27; }

ul.three-focus-items {
  margin: 0;
  padding: 0;
  list-style: none; }

ul.three-focus-items > li {
  float: left;
  margin: 0 1em;
  width: calc(33% - 2em);
  text-align: center;
  font-size: 1.05em;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  border: solid 2px #fadb27; }

ul.three-focus-items > li a:hover {
  text-decoration: none; }

.three-focus-items .focus-icon {
  padding: 0;
  width: 36%;
  margin: .5em 32% 0 32%; }

.three-focus-items .focus-icon img {
  width: 100%; }

.inner-focus-item h3 {
  background-color: transparent;
  border: none;
  margin: .5em 0;
  padding: .5em;
  color: #fadb27;
  font-size: 1em;
  margin: 0; }

.inner-focus-item h3:hover, .inner-focus-item a h3:hover {
  text-decoration: underline !important; }

.three-focus-items p {
  margin: .25em 1em;
  line-height: 1.25em;
  color: black;
  font-weight: normal; }

.feature-icon {
  margin-top: 1em;
  float: left;
  width: 49%; }

.feature-icon img {
  -webkit-border-radius: 15px;
  border-radius: 15px;
  border: solid 1px #fadb27;
  width: calc(100% - .75em);
  height: auto; }

.feature-content {
  margin-top: .75em;
  float: right;
  width: 50%; }

.feature-content h3 {
  margin: 0;
  padding: 0 0 1em 0; }

.inner-focus-item {
  width: 85%;
  margin: 0 auto;
  text-align: left;
  padding-bottom: 1em; }

@media screen and (max-width: 800px) {
  ul.three-focus-items > li {
    float: left;
    margin: 0 2em;
    width: calc(100% - 4em);
    text-align: center; }

  .three-focus-items .focus-icon {
    padding: 1.5em;
    width: 50%;
    margin: 0 25%;
    -webkit-border-radius: 50% 50% 505 50%;
    border-radius: 50% 50% 50% 50%;
    margin-top: 0em; } }
@media screen and (max-width: 600px) {
  ul.three-focus-items > li {
    float: left;
    margin: 0;
    width: 100%;
    text-align: center;
    padding-top: 1em; }

  .three-focus-items .focus-icon {
    padding: 1.25em;
    width: 50%;
    margin: 0 25%;
    -webkit-border-radius: 50% 50% 505 50%;
    border-radius: 50% 50% 50% 50%;
    margin-top: 0; } }
@media screen and (max-width: 400px) {
  .three-focus-items .focus-icon {
    padding: 1.25em;
    width: 80%;
    margin: 0 10%;
    -webkit-border-radius: 50% 50% 505 50%;
    border-radius: 50% 50% 50% 50%;
    margin-top: 0;
    background-color: transparent !important; }

  .three-focus-items p {
    margin: .25em;
    line-height: 1.25em; } }
@media screen and (max-width: 300px) {
  .three-focus-items .focus-icon {
    padding: 1em;
    width: 80%;
    margin: 0 10%;
    -webkit-border-radius: 50% 50% 505 50%;
    border-radius: 50% 50% 50% 50%;
    margin-top: 0;
    background-color: transparent !important; }

  .three-focus-items p {
    margin: .25em;
    line-height: 1em; }

  .three-focus-items h3 {
    margin: 0; } }
@supports (display: grid) {
  ul.three-focus-items {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(3, 1fr);
    color: #444;
    margin: 2.5em auto;
    max-width: 1400px; }

  ul.three-focus-items > li {
    margin: 0 1em;
    width: auto;
    text-align: center;
    font-size: 1.05em;
    background-color: rgba(255, 255, 255, 0.85); }

  @media screen and (max-width: 800px) {
    ul.three-focus-items {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(1, 1fr);
      color: #444; } } }
ul.three-focus-items > li {
  background-color: rgba(255, 255, 255, 0.85); }

.page-template-page-home #page {
  padding: 0;
  -webkit-border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 25px;
  border: solid 2px #fadb27;
  max-width: 1375px; }

.page-template-page-home #main {
  padding: 1em 2em; }

.page-template-page-home #content {
  background: transparent; }

/*--- START PDOG CUSTOMIZATION --*/
/*--- future reference ---*/
.sticky {
  color: inherit; }

.gallery-caption {
  color: inherit; }

.bypostauthor {
  color: inherit; }

.wph-modal .wph-modal--hide a, .wph-modal footer a {
  color: #322215 !important;
  font: 400 12px/20px Arial, Tahoma, Verdana;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease; }

.wph-modal .wph-modal--close a {
  border: 0;
  box-shadow: none;
  color: #322215 !important;
  font-size: 13px;
  text-decoration: none;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease; }

#mc_embed_signup .button {
  clear: both;
  background-color: #322215 !important;
  border: 0 none;
  border-radius: 4px;
  letter-spacing: .03em;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  height: 32px;
  line-height: 32px;
  margin: 0 5px 10px 0;
  padding: 0 1em;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
  width: auto;
  transition: all 0.23s ease-in-out 0s;
  margin-top: 1em; }

/*---------------Links-----------------------------*/
a {
  color: #00649c;
  text-decoration: none; }

a:visited {
  color: #00649c; }

a:hover, a:focus, a:active {
  color: #001f30; }

/*--- the page image background --*/
.big-background {
  padding-top: 9em; }

/*--- FEATURED IMAGE CONTROLS ---*/
img.attachment-thumbnail {
  float: left;
  margin-right: .5em; }

/*---CATEGORY TITLE ---*/
#secondary h1.page-title {
  float: right; }

h1.page-title, h1.entry-title, h1.answer-heading {
  color: #322215;
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: normal;
  /* padding-left:1.25em; background-image:url(./images/logo-accent.png);  background-repeat:no-repeat*/ }

h1.responsive-page-title {
  visibility: collapse;
  height: 0; }

h1.page-title a, h1.entry-title a {
  color: #322215;
  text-decoration: none; }

/*---------- CUSTOMIZATIONS---------------*/
.category #page {
  padding-top: 12em; }

.clear {
  clear: both; }

/*-- for post navigation--*/
.left-split-nav {
  float: left;
  width: 48%;
  text-align: left; }

.right-split-nav {
  float: right;
  width: 48%;
  text-align: right; }

/*-- for sidebar--*/
#secondary {
  width: 25%;
  /*max-width:250px;  font-size:.85em; */ }

#secondary.widget-area {
  padding: 1em; }

#secondary .widget-area img {
  width: 80%;
  height: auto;
  margin-top: 2em; }

#secondary li {
  list-style: none;
  display: block;
  margin-left: .5em; }

#secondary li a {
  text-decoration: none; }

#secondary li.current-menu-item a {
  color: #00649c;
  width: 100%;
  display: block;
  background-color: #ffffff;
  margin-left: -.25em;
  padding-left: .25em;
  /*color:$lightBlueColor;*/ }

#secondary li a:hover {
  width: 100%;
  display: block;
  background-color: #ffffff;
  margin-left: -.25em;
  padding-left: .25em;
  text-decoration: underline; }

#secondary ul {
  margin-left: 0em; }

#secondary .widget_search {
  font-size: .85em; }

/*----- Content Area ---------------------*/
.blog #page {
  padding-top: 11em; }

#page {
  width: 100%;
  max-width: 1400px;
  padding: 2.5em 2em 0 2em;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  margin-top: 0;
  margin-bottom: 0;
  clear: both; }

.page-template-feed-page #page {
  /*margin-top:1.5em;*/ }

#main {
  padding-left: 0em; }

.page-template-feed-page #secondary h2 a {
  color: #322215; }

.page-template-feed-page #secondary h2 {
  margin: 0 0 1em 0; }

/*--- splitting styles ----*/
#page .left-side, #secondary .left-side, #foot-constraint .left-side {
  float: left;
  width: 48%;
  padding-left: 1%; }

#page .right-side, #secondary .right-side, #foot-constraint .right-side {
  float: right;
  width: 48%; }

#main .left_picture, #secondary .left_picture {
  float: left;
  width: 30%; }

#main .left_picture img, #main .right_picture img, #secondary .left_picture img, #secondary right_picture img {
  width: 90%;
  margin-right: 10%;
  height: auto; }

#main .right_text, #secondary .right_text {
  float: right;
  width: 65%; }

#main .left_text, #secondary .left_text {
  float: left;
  width: 65%; }

#main .right_picture, #secondary .right_picture {
  float: right;
  width: 30%; }

#main .archive_left_picture, #secondary .archive_left_picture {
  float: left;
  width: 20%; }

#main .archive_left_picture img, #secondary .archive_left_picture img {
  width: 100%;
  height: auto;
  margin: 0; }

#main .archive_right_text, #secondary .archive_right_text {
  float: right;
  width: 78%; }

/*-- DEFINES CONTENT AREA --*/
.content-area {
  float: right;
  margin: 0 0 0 -26%;
  width: 100%;
  padding: 1em;
  min-height: 85vh;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 25px;
  border: solid 2px #fadb27;
  margin-bottom: 1em; }

.entry-content .left-side, .entry-content .right-side {
  background-color: transparent;
  border-radius: 25px;
  margin-bottom: 1em;
  padding: 1em; }

.question-site-main {
  float: right;
  width: 65%; }

.site-main {
  margin: 0 0 0 26%; }

/*-- FULL WIDTH PAGES --*/
.page-template-page-home .full-content-area {
  border: none 0px transparent;
  background-color: transparent; }

.full-content-area {
  float: left;
  margin: 1em 0 0 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 25px;
  border: solid 2px #fadb27;
  margin-bottom: 1em;
  padding: 1em 3em;
  min-height: 50vh; }

.full-site-main {
  margin: 0; }

.site-content .widget-area {
  float: left;
  overflow: hidden;
  width: 30%;
  /*margin-top:1em*/ }

/* ---  RESPONSIVE --- Small menu */
.menu-toggle {
  cursor: pointer;
  display: none; }

/*--- more over rides--*/
p.archive-link {
  text-align: right; }

ul.just-archive-array {
  list-style: none;
  margin: 0; }

.just-archive-array p {
  margin: 0 0 1em 0; }

.just-archive-array h1 {
  margin: 0; }

.page-template-page-books a {
  text-decoration: none; }

@media (max-width: 1300px) {
  body {
    overflow-x: hidden; } }
@media (max-width: 1200px) {
  #foot-constraint {
    width: 90%;
    margin: 0 5%; }

  html {
    overflow-x: hidden; }

  #page {
    width: 96%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    margin-top: .25em;
    margin-bottom: 1em; }

  .masthead-holder {
    width: 96%;
    max-width: 1000px;
    margin: 0 auto;
    top: 0;
    background: transparent; } }
@media (max-width: 900px) {
  .page-template-landing-page .content-area {
    float: left;
    margin: 1em;
    width: 100%; }

  .page-template-landing-page .site-main {
    margin: 1em; }

  .page-template-landing-page #secondary {
    width: 100%; }

  .page-template-landing-page .entry-content {
    border-right: none 0px transparent;
    padding-right: 0; }

  .page-template-feed-page .site-main {
    margin: 0; }

  .page-template-feed-page #secondary {
    width: 100%; }

  .page-template-feed-page h1.page-title {
    visibility: collapse;
    height: 0; }

  .page-template-feed-page h1.responsive-page-title {
    color: #322215;
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: normal;
    visibility: visible;
    height: auto;
    background-repeat: no-repeat;
    border-bottom: 1px solid #000000; } }
@media (max-width: 825px) {
  .question-site-main {
    float: left;
    width: 100%; }

  #hero-top {
    padding-top: 180px; }

  .landing-third-1, .landing-third-2, .landing-third-3 {
    float: left;
    width: 100%;
    margin: 2em 0 0 0; }

  .landing-third-3 .widget {
    margin: 0; }

  #page .left-side, #page .right-side {
    float: left;
    width: 100%; }

  #page .left-side {
    margin-bottom: 2em; }

  .footer-section {
    float: left;
    width: 100%;
    text-align: center; }

  .content-area {
    float: left;
    margin: 0;
    width: 100%; }

  .site-main {
    margin: 0; }

  #secondary {
    width: 80%;
    max-width: 650px; }

  #secondary.widget-area {
    float: left;
    margin: 0;
    width: 100%;
    margin-left: 0; }

  .entry-content {
    border-right: none;
    padding-right: 2em; }

  .content-area {
    min-height: 0; }

  h1.page-title {
    visibility: collapse;
    height: 0; }

  h1.responsive-page-title {
    color: #1349ad;
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: normal;
    visibility: visible;
    height: auto;
    background-repeat: no-repeat;
    border-bottom: 1px solid #000000; }

  .single-question h1.page-title, .single-question h1.entry-title {
    color: #322215;
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: normal;
    visibility: visible;
    height: auto; } }
@media screen and (max-width: 725px) {
  #page .left-side, #secondary .left-side, #foot-constraint .left-side {
    float: left;
    width: 100%; }

  .menu-toggle, .main-navigation.toggled .nav-menu {
    display: block; }

  .main-navigation {
    width: 100%; }

  .entry-content img {
    width: 60%;
    margin: 0 20%; }

  .content-area {
    float: left;
    margin: 0;
    width: 100%; }

  .site-main {
    margin: 0; }

  #secondary {
    width: 80%;
    max-width: 650px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 25px; }

  #secondary.widget-area {
    float: left;
    margin: 0;
    width: 100%;
    margin-left: 0; }

  /*--- splitting styles ----*/
  #main .left_picture, #main .right_text, #main .left_text, #main .right_picture {
    float: left;
    width: 100%; }

  #main .left_picture img, #main .right_picture img {
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;
    height: auto; } }
@media (max-width: 625px) {
  #page .right-side, #secondary .right-side, #foot-constraint .right-side {
    float: right;
    width: 100%; }

  #main .left_picture, #secondary .left_picture {
    float: left;
    width: 100%; }

  #main .left_picture img, #main .right_picture img, #secondary .left_picture img, #secondary right_picture img {
    width: 70%;
    margin: 0 15%;
    height: auto; }

  #main .right_text, #secondary .right_text {
    float: right;
    width: 100%; }

  #main .left_text, #secondary .left_text {
    float: left;
    width: 100%; }

  #main .right_picture, #secondary .right_picture {
    float: right;
    width: 100%; }

  #main .archive_left_picture, #secondary .archive_left_picture {
    float: left;
    width: 100%; }

  #main .archive_left_picture img, #secondary .archive_left_picture img {
    width: 70%;
    height: auto;
    margin: 0 15%; }

  #main .archive_right_text, #secondary .archive_right_text {
    float: right;
    width: 100%; } }
@media (max-width: 500px) {
  .page-template-landing-page #secondary .left_picture {
    float: left;
    width: 100%; }

  .page-template-landing-page #secondary .right_text {
    float: left;
    width: 100%; } }
@media (max-width: 450px) {
  .site-info {
    border-top: 2px solid #ffffff;
    text-align: center; } }
@media (max-width: 400px) {
  #hero-top {
    padding-top: 180px; }

  h1.menu-toggle {
    background-position: 0 1.15em; }

  .menu-main-container {
    top: 3.25em; } }

/*# sourceMappingURL=style.css.map */
