/*-- footer region  --*/
.footer-section{float:left;width:33%}
.site-footer, .site-info{clear:both}
.site-info{ text-align:right}
.site-info p{font-size:.75em;margin:1em 2em}
#foot-constraint{width:100%;max-width:1400px;margin-left:auto;margin-right:auto;margin-top:1em;margin-bottom:1em; padding:0 1%;}
#colophon.site-footer{border-top:solid 1px $whiteColor; }
#colophon.site-footer a{color:$whiteColor;text-decoration:underline}
#colophon.site-footer a:hover{color:$whiteColor;text-decoration:underline}
#colophon.site-footer h4.widgettitle, #colophon.site-footer h1.widget-title, #colophon.site-footer h1{color:$whiteColor;font-weight:normal;font-size:1.1em;margin-right:1em}